{% extends 'template.html.twig' %}



{% block header %}
    <header>
    </header>
{% endblock %}



{% block titre %}
    
  <div id="titreprincipal">
    <h1>Charles - Andre <br> Developpeur Web </h1>
  </div>
    
{% endblock %}

     