{% extends 'template.html.twig' %}

  
    {# **************** PROJET ******************* #}
{% block section %} 

<section id="sectionprojet">

   <h2>Projet</h2>
   <hr class="hr-break-line">

  <div class="projetimg">

    <!-- PROJET 1 -->
   <div class="projet1">
     <a href="http://driad.fr/CV/index.html"><img src="http://driad.fr/img/imgcv.png"></a>
     <p class="paragraphe">mon cv</p>
   </div>
   <!-- FIN DU PROJET 1 -->


   <!-- PROJET 2 -->
   <div>
     <a href="#"><img src="http://driad.fr/img/imgbeweb.png"></a>
     <p class="paragraphe">projet site BeWeb</p>
   </div>
   <!-- FIN DU PROJET 2 -->


  </div><!--fin de la class="projetimg"-->

  	</section>
 {%  endblock %}
