{% extends 'template.html.twig' %}

  
    {# **************** PROJET ******************* #}
{% block section %} 
        
        <section id="sectionprojet">

            <h2>Projets</h2>
            <hr class="hr-break-line">

            <div class="projetimg">

                {#<!-- PROJET 1 -->#}
                <div class="projet1">
                    <a href="https://github.com/gardian34/CV.git"><img src="http://www.college-pablopicasso.fr/wp-content/uploads/2012/09/rubon3-5c24a.jpg"></a>
                    <p class="paragraphe">Mon CV</p>
                </div>
                {#<!-- FIN DU PROJET 1 -->#}


                {#<!-- PROJET 2 -->#}
                <div>
                    <a href="https://github.com/lunel-beweb/siteInternet.git"><img src="http://www.college-pablopicasso.fr/wp-content/uploads/2012/09/rubon3-5c24a.jpg"></a>
                    <p class="paragraphe">Site Beweb</p>
                </div>
                {#<!-- FIN DU PROJET 2 -->#}


                {#<!-- PROJET 3 -->#}
                <div class="projet1">
                    <a href="#"><img src="http://www.college-pablopicasso.fr/wp-content/uploads/2012/09/rubon3-5c24a.jpg"></a>
                    <p class="paragraphe">projet 3</p>
                </div>
                {#<!-- FIN DU PROJET 3  -->#}


                {#<!-- PROJET 4 -->#}
                <div>
                    <a href="#"><img src="http://www.college-pablopicasso.fr/wp-content/uploads/2012/09/rubon3-5c24a.jpg"></a>
                    <p class="paragraphe">projet 4</p>
                </div>
                {#<!-- FIN DU PROJET 4 -->#}


            </div>{#<!--fin de la class="projetimg"-->#}
        </section> {#<!-- fin de "l'id sectionprojet" -->#}
        
 {%  endblock %}
