{% extends 'template.html.twig' %}

{#**************** Qui suis je  ******************* #}

{% block section %}
        
    
     
<section id="sectionquisuisje">
  <div>
    <h2> Qui suis je  </h2>
    <hr class="hr-break-line">
    <br>
		<p class="paragraphe">
                  Jeune développeur passionné par le web, j'ai commencé en autodidacte depuis quelques années.<br>
                  J'ai démarré dès l'âge de 14 ans en parallèle de mes études à l'installation des logiciels, réparer des ordinateurs...<br>
                  et je me suis rapidement intéressé aux langages de programmation.
                  <br>
                  <br>
      </p>

    <h3>Language et environement:</h3>
    <p class="paragraphe">HTML5, CSS3, jQuery, Javascript, Fondation, Bootstrap3.</p>

    <h3>Outils et expertise:</h3>
    <p class="paragraphe">Git, Responsive Web, Filezilla FTP, les logiciels Open Source, Linux 14.04.</p>

  </div>
    <img src="bundles/framework/img/logo.png"/>
</section>

 {% endblock %}